{{template "preamble.tmpl"}}
{{template "error.tmpl" .}}
{{template "toast.tmpl" .}}
<ul>
    <li>Withings:
        {{if .WithingsLink}}
            <a href="/withings/begin">Link to Withings</a>
        {{else}}
            Linked <a href="/withings/begin">[reauthenticate]</a>
        {{end}}
    </li>
</ul>
&nbsp;<br/>
Phone Number:
<form action="/phone" method="POST">
    <input type="text" name="phone" value="{{.Phone}}" placeholder="123 456 7890"/>
    <input type="submit" value="Save"/>
</form>
<form id="kgs" action="/kgs" method="POST">
    Use Kilograms: <input type="checkbox" name="kgs" {{if .Kgs}}checked{{end}}
                          onchange="document.getElementById('kgs').submit();"/>
</form>
Maybe you'd like to <a href='/measures'>view your recent measurements</a>?'<br/>
Or trigger a <a href='/summary'>Weekly Summary</a>?
{{template "postamble.tmpl"}}