{{template "preamble.tmpl"}}
</head>
<body>
{{template "navbar.tmpl" .}}
<div class="container">
    {{template "error.tmpl" .}}
    {{template "toast.tmpl" .}}
    <div>
        Welcome to vator! Vator will motivate you and be not at all creepy. It's a motivator.<br/>
        Perhaps you'd like to log in?
    </div>

    <form action="/login" method="POST">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="bi-person"></i></span>
            <input class="form-control" type="text" name="username" id="username" placeholder="Username"
                   aria-label="Username">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="bi-lock"></i></span>
            <input class="form-control" type='password' name='password' id="password" placeholder='Password'
                   aria-label="Password"><br/>
        </div>
        <input class="btn btn-primary" type='submit' value='Log In'>
    </form>

    <div>
        Or maybe you'd like to <a href='/signup'>sign up</a>, instead?
    </div>
</div>
{{template "postamble.tmpl"}}