{{template "preamble.tmpl"}}
</head>
<body>
{{template "navbar.tmpl" .}}
<div class="container">
    <div>
        Want to sign up? Great! First, you'll need a vator acount. After that, you'll need to connect to your Withings
        account. To get started, pick a username and create a password.
    </div>
    {{template "error.tmpl" .}}
    {{template "toast.tmpl" .}}

    <form action="/signup" method="POST">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="bi-person"></i></span>
            <input class="form-control" type="text" name="username" id="username" placeholder="Username"
                   aria-label="Username">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="bi-lock"></i></span>
            <input class="form-control" type='password' name='password' id="password" placeholder='Password'
                   aria-label="Password"><br/>
        </div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="bi-arrow-clockwise"></i></span>
            <input class="form-control" type='password' name='confirm' id="confirm" placeholder='Password Again'
                   aria-label="Password Again"><br/>
        </div>
        <input class="btn btn-primary" type='submit' value='Sign Up'>
    </form>

    <div>
        Or maybe you'd like to <a href='/login'>log in</a>, instead?
    </div>
</div>
{{template "postamble.tmpl"}}